<div class="container-page">

  <h2>Search for a user</h2>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="userActive" id="userActive">
          <option *ngFor="let user of users" [ngValue]="user"> {{ user.name }} </option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      
    </div>
  </div>

  <div class="row" *ngIf="userActive">
    <div class="col-sm">
      <h2>Edit User</h2>
      <form>
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="userActive.name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="userActive.email" name="age" placeholder="Email">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="userActive.phone" name="email" placeholder="Phone">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="userActive.website" name="website" placeholder="Website">
        </div>
        <button type="button" class="btn btn-success">Save</button>
      </form>
    </div>
    <div class="col-sm">
      <h2>Interest</h2>
      <form (submit)="addHobby(hobby)">
        <div>
          <input class="form-control" type="text" [(ngModel)]="hobby" name="hobby" placeholder="Insert a interest">
        </div>
      </form>
      <table class="table table-inverse">
        <tbody>
          <tr *ngFor="let hobbie of hobbies; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ hobbie }}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteHobby(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>