<div class="container-page">
  <h3>/list</h3>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <table class="table table-striped table-inverse table-sm table-hover">
        <tbody>
          <tr *ngFor="let poke of pokes;  let i = index">
            <th scope="row"> {{ i + 1 }} </th>
            <td>{{ poke.name }}</td>
            <td>
              <button type="button" (click)="goToDetails(poke.url)" class="btn bg-info text-white">See Details</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteUser(i, user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4"></div>
</div>
